VITE_APPWRITE_PROJECT_ID=your_project_id_here
VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_DATABASE_ID=your_database_id_here
VITE_APPWRITE_COLLECTION_PRODUCTS_ID=your_products_id_here
VITE_APPWRITE_VERIFICATION_REDIRECT_URL="your_domain/auth/verify
VITE_APPWRITE_STORAGE_BUCKET_ID=your_storage_bucket_id_here